# dependencies
/node_modules/
/.npm
/.yarn

# build outputs
/dist/
/tmp/
/out-tsc/
*.tgz

# environment variables
.env
.env.local
.env.production

# IDE files
.vscode/
.idea/
*.swp
*.swo

# OS files
.DS_Store
.DS_Store?
._*
.Spotlight-V100
.Trashes
Thumbs.db

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Angular
/.angular/
/browser/

# Vercel
.vercel