<div class="dashboard-container">

  <!-- Menu -->
  <div class="main-content">
    <app-menu-page></app-menu-page>
  </div>

  <!-- Home -->
  <div class="main-content" id="home">
    <app-home></app-home>
  </div>

  <!-- Categories -->
  <div class="main-content">
    <app-categories></app-categories>
  </div>

  <!-- Products -->
<div class="main-content" id="products">
  <app-product-list></app-product-list>
</div>


  <!-- content -->
<div class="main-content" id="contact">
    <app-contact></app-contact>
  </div>

</div>
