

/* General form settings */
form {
    height: 600px;
    width: 80%;
    position: absolute;
    top: 80%;
    left: 50%;
    transform: translate(-50%, -50%);
    backdrop-filter: 2px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    padding: 0 35px;
}

form * {
    font-family: 'Poppins', sans-serif;
    color: #000;
    letter-spacing: 0.5px;
    outline: none;
}

/* Labels and text styling */
form span {
    color: #ff1900;
    text-align: left;
}

label {
    display: block;
    text-align: left;
    margin-top: 5px;
    font-size: 16px;
    font-weight: 500;
}

/* Input fields and dropdowns */
.description-group input,
.description-group select {
    display: block;
    width: 100%;
    height: 50px;
    margin-top: 8px;
    padding: 0 10px;
    font-size: 14px;
    font-weight: 300;
    text-align: left;
    background-color: rgba(135, 132, 132, 0.07);
    border: none;
    border-radius: 10px;
    box-sizing: border-box;
    outline: none;
}

/* Form fields layout */
.form-container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 10px;
    justify-content: center;
    padding: 20px;
}

/* Upload file section */
.upload-group label {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 50px;
    margin-top: 35px;
    font-size: 16px;
    font-weight: 500;
    background-color: rgba(135, 132, 132, 0.07);
    color: #000;
    border-radius: 10px;
    cursor: pointer;
}

.upload-group label:hover {
    border: 1px solid black;
}

/* Form buttons */
.button-group {
    display: flex;
    justify-content: flex-end;
}

.button-group button {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 150%;
    height: 50px;
    margin-top: 20px;
    font-size: 16px;
    font-weight: 500;
    color: #fff;
    background-color: rgba(0, 68, 255, 1.1);
    border-radius: 10px;
    cursor: pointer;
}

.button-group button:hover {
    background-color: rgb(51, 110, 246);
}


/* Responsive styles for small screens */
@media (max-width: 768px) {
    form {
        width: 90%;
        padding: 15px;
    }

    .form-container {
        display: flex;
        flex-direction: column;
        gap: 15px;
    }

    .button-group {
        flex-direction: column;
        gap: 10px;
        width: 67%;
    }
}
